package bo

import "time"

// 代码生成器自动生成

// {{tb.go_model_name()}}Bo {{ tb.comment_str() }}
type {{tb.go_model_name()}}Bo struct { 

    {% for fl in tb.fields %}
    // {{fl.go_field_name()}} {{fl.comment_str()}}
    {{fl.go_field_name()}}      {{ fl.go_field_type() }}      `{{fl.go_attribute_json()}}`
    {% endfor %}
}
